<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Домашнее задание</title>
</head>
<body>
<h1> калькулятор теоремы коссинусов. </h1>
<p>
  нахождение третьей стороны до двум сторонам и углу между ними.
  Угол может быть в градусах или радианах либо так и так. &copy;
</p>
<!--<a th:href="@{/service-form}">На страницу калькулятора</a>-->
<a th:href="@{/service}">На страницу калькулятора (способ 1)</a>
<a th:href="@{/service-2}">На страницу калькулятора  (способ 2)</a>
</body>
</html>